<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1 class="title">
    <%= title %>
  </h1>

  <a href="/">Go back</a>

  <form method="POST" action="/new" class="form">
    <label>
      <span>Message</span>
      <textarea name="messageText" rows="5" required></textarea>
    </label>
    <label>
      <span>By</span>
      <input type="text" name="messageUser">
    </label>
    <button type="submit" class="postMessage">Post message</button>
  </form>
</body>

</html>